# Different ways of creating Dataframe

- using csv
- using Excel
- from python dictionary
- from list of tuples
- from list of dictionaries

In [1]:
import pandas as pd

In [3]:
df_csv=pd.read_csv("weather.csv")
df_csv

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           28           7   snow
2  1/3/2020           35           2   snow
3  1/4/2020           24           7  sunny
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [6]:
#df_excel=pd.read_excel("weather.xlsx","sheet1")
df_excel=pd.read_excel("weather.xlsx")

df_excel

         day  temperature  wind_speed  event
0 2020-01-01           32           6   rain
1 2020-01-02           28           7   snow
2 2020-01-03           35           2   snow
3 2020-01-04           24           7  sunny
4 2020-01-05           32           4   rain
5 2020-01-06           32           2  sunny

In [7]:
df=pd.DataFrame([['1/1/2020',32,6,'rain'],['1/2/2020',35,7,'snow'],
                 ['1/3/2020',28,2,'snow'],['1/4/2020',24,7,'snow'],
                 ['1/5/2020',32,4,'rain'],['1/6/2020',32,2,'sunny']],
               columns=['day','temperature','wind_speed','event'])
df

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7   snow
2  1/3/2020           28           2   snow
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [9]:
weather_data={
    'day':['1/1/2020','1/2/2020','1/3/2020','1/4/2020','1/5/2020','1/6/2020'],
    'temperature':[32,28,35,24,32,32],
    'wind_speed':[6,7,2,7,4,2],
    'event':['rain','snow','snow','sunny','rain','sunny'],
    }
df_dic=pd.DataFrame(weather_data)
df_dic

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           28           7   snow
2  1/3/2020           35           2   snow
3  1/4/2020           24           7  sunny
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [10]:
weather_data=[
    ('1/1/2020',32,6,'rain'),('1/2/2020',35,7,'snow'),
    ('1/3/2020',28,2,'snow'),('1/4/2020',24,7,'snow'),
    ('1/5/2020',32,4,'rain'),('1/6/2020',32,2,'sunny')
]
df_list=pd.DataFrame(weather_data,columns=['day','temperature','wind_speed','event'])
df_list

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7   snow
2  1/3/2020           28           2   snow
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [11]:
weather_data=[
    {'day':'1/1/2020','temperature':32,'wind_speed':6,'event':'rain'},
    {'day':'1/1/2020','temperature':32,'wind_speed':6,'event':'rain'},
    {'day':'1/1/2020','temperature':32,'wind_speed':6,'event':'rain'},

]
df_list_dict=pd.DataFrame(weather_data)
df_list_dict

        day  temperature  wind_speed event
0  1/1/2020           32           6  rain
1  1/1/2020           32           6  rain
2  1/1/2020           32           6  rain